* {

    padding: 0;
    margin: 0;
}

div {

    display: block;
}

li {

    list-style: none;
}

li {

    display: list-item;
    text-align: -webkit-match-parent;
}

a {

    text-decoration: none;
}
/* 页面头部 */
.head-nav {

    height: 50px;
    width: 100%;
    font-size: 0;
    background-color: #262626;
    box-sizing: border-box;
    display: block;
}

.head-inner {

    display: table;
    width: 100%;
}

.head-unit {

    display: table-cell;
    vertical-align: top;
}

.header-logo {

    width: 65px;
}

.nav-logo {

    display: block;
}

.nav-logo-inner {

    height: 32px;
    display: inline-block;
    padding: 0 20px;
    margin: 9px 0;
    border-right: 1px solid #000;
}


/* 主页面 */
.container {

    position: absolute;
    height: auto;
    top: 50px;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    transform: none !important;
    /*兼容IE7以下,去除transform效果*/
}

.container .animate {

    transition: left 0.4s;
}


/* 侧边栏控制台 */
.container .aside {     /* 侧边栏 */

    position: relative;
    border-right: none;
    background-color: #333;
    width: 200px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    /*display: none;*/
    transition: all 0.8s;
    -webkit-transition: all 0.8s; /* Safari and Chrome */
}
/* 侧边栏切换箭头 */
.aside [class*=menu-fold] {

    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 100;   /*层叠顺序，显示在上层*/
    top: 4px;
    right: 0;
    background-color: #575757;
    border-radius: 2px 0 0 2px;
    cursor: pointer;
    padding: 5px;

    transition: all 0.8s;
    -webkit-transition: all 0.8s; /* Safari and Chrome */
}

.menu-close-btn {

    display: none;
    position: fixed;
    left: 1%;
    top: 80px;
    width: 20px;
    height: 18px;
    z-index: 100;
    background-color: #575757;
    border-radius: 2px 0 0 2px;
    cursor: pointer;
    padding: 5px;

    transition: all 0.8s;
    -webkit-transition: all 0.8s; /* Safari and Chrome */
}

.menu-fold:hover {

    background-color: #404040;
    border-color: #404040;
}

.sidebar-toggle-line:first-child {

    margin-top: 0;
}

/* 侧边栏切换按钮 */
.sidebar-lineWrap {

    line-height: 0;
}

.sidebar-toggle-line {      /* 侧边栏切换箭头 */

    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 2px;
    background: #fff;
    margin-top: 5px;

    width: 100%;
    top: 0;
    transform: rotateZ(0deg);
    opacity: 1;
    left: 0;
    transition: all 0.8s;
    -webkit-transition: all 0.8s; /* Safari and Chrome */
}

.menu-fold:hover .aside{

    display: none;
    transform: scaleX(0);
}

.menu-fold:hover .sidebar-toggle-line:first-child {

    width: 52%;
    left: -1px;
    transform: rotateZ(-45deg);
    top: 3px;
}

.menu-fold:hover .sidebar-toggle-line:last-child {

    width: 52%;
    left: -1px;
    transform: rotateZ(45deg);
    top: -3px;
}

/* 关闭状态 */
.menu-close-btn:hover .sidebar-toggle-line:first-child {

    width: 52%;
    left: 10px;
    transform: rotateZ(45deg);
    top: 3px;
}

.menu-close-btn:hover .sidebar-toggle-line:last-child {

    width: 52%;
    left: 10px;
    transform: rotateZ(-45deg);
    top: -3px;
}

/* 侧边栏导航栏 */
.side-area-main {

    position: relative;
    height: 100%;
}

.aside-headline {

    font-size: 16px;
    line-height: 1.2;
    display: block;
    padding: 0 20px;
    color: #fff;
    height: 50px;
    width: 200px;
    box-sizing: border-box;
}

.aside-headline:before {

    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.aside-headline span {

    display: inline-block;
    vertical-align: middle;
}

.aside-list {

    font-size: 12px;
    position: absolute;
    top: 70px;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

.aside-list>li {

    position: relative;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.aside-list li:hover {

    background-color: #404040;
}

.aside-list a {

    color: #bbb;
    font-size: 13px;
}
.aside-list-level1 {

    min-height: 16px;
    display: block;
    padding-top: 5px;
    padding-bottom: 4px;
}

.aside-list-level1 span {

    max-width: 138px;
    line-height: 2;
    display: inline-block;
    vertical-align: text-top;
    margin-left: 20px;
    font-size: 14px;

}
/* 主界面 */
.main {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    transition: all 0.8s;
    -webkit-transition: all 0.8s; /* Safari and Chrome */
}

.container .main {

    /*left: 200px;*/
    width: 85%;
}

.console {

    overflow: auto;
}

.manage-area {

    background-color: #fff;
    height: 100%;
}

.pic-monitor {  /* 图片监控管理界面 */

    background-color: #fff;
    height: 100%;
}

/* 主管理界面头部 */
.manage-area-title {

    position: relative;
    margin: 0 20px;
    font-size: 0;
    height: 60px;
    line-height: 60px;
}

.manage-area-title h2 {

    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 60px;
    font-weight: 700;
    margin-right: 20px;
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;    /* 文本不换行 */
    text-overflow: ellipsis;    /* 多余文本用省略号显示 */
}

/* 图片监控界面头部 */
.pic-header {
    position: relative;
    margin: 0 20px;
    font-size: 0;
    height: 60px;
    line-height: 60px;
}

.pic-header > h2 {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 700;
    margin-right: 20px;
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 主管理界面主体部分 */
.console .manage-area-main {

    margin-left: 18px;
    margin-right: 18px;
}

.manage-area-main:after {   /* 清除浮动 */

    display: table;
    content: "";
    clear: both;
}

/* 图片监控界面主体部分 */
.pic-area-main {

    margin-left: 18px;
    margin-right: 18px;
}

/* 图片显示区域 */
.picshow {

    margin-left: -10px;
    margin-right: -10px;
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    width: 100%;
}

.picBlock {
    width: 100%;
    min-height: 400px;
    background-color: #fff;
    border-radius: 0;
    padding: 0 16px 16px;
    /* border: none; */
    margin-bottom: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
    display: flex;
    /* Safari */
    display: -webkit-flex;

    /* 主轴换行 */
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

/* 图片监控显示 */
.picdisplay {
    border: 1px solid rgb(54, 164, 207);
    box-shadow: 5px 5px 6px 3px rgba(99, 98, 98, 0.884);
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.monitor-img {
    /* z-index: -1; */
    position: relative;
    width: 300px;
    height: 300px;
}

/* 温湿度数据显示 */
.yy-manage {

    margin-left: -10px;
    margin-right: -10px;
    font-size: 0;
}

.yy-manage [class*=yy-display] {    /* 全部监控板块共有状态 */
 
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.yy-display-1 {     /* 第一行监控板块 */

    width: 50%;
}

.mod-console {

    background-color: #fff;
    border-radius: 0;
    padding: 0 16px 16px;
    border: none;
    margin-bottom: 16px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
}

.mod-console-hd {

    line-height: 44px;
    position: relative;
}

.mod-console-hd h3 {

    font-size: 14px;
    font-weight: 700;
}

.mod-console-bd {

    font-size: 12px;
    color: #444;
}

.dashboard {    /* 显示部分 */

    display: table;
    margin: 0 auto;
}

.dashboard-chart-t {

    vertical-align: middle;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 0;
    position: relative;
    display: table-cell;
}

.dashboard-chart-h {

    vertical-align: middle;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 0;
    padding-left: 10px;
    display: table-cell;
}

.dashboard-chart-th {

    vertical-align: middle;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 0;
    padding-left: 10px;
    display: table-cell;
}

#display-hum {

    font-size: 20px;
}

#display-tem {

    font-size: 20px;
}

.tem-pic {

    height: 150px;
}

.hum-pic {

    height: 150px;
}

/* 库存显示板块 */
.yy-display-2 {

    width: 100%;
}

.dashboard-chart-stock {

    vertical-align: middle;
    width: 900px;
    height: 400px;
    text-align: center;
    font-size: 0;
    position: relative;
    display: table-cell;
}



#showLogs {

    border: 2px solid blanchedalmond;
    position: fixed;
    height: 45%;
    width: 20%;
    top: 30%;
    right: 0;
    overflow: auto;
    z-index: 100;
}

#clear {

    position: absolute;
    right: 0;
    bottom: 0;
}

